.new-plant-container {
    margin-top: 3em;
    background-color: #f8f9fa;
    padding: 2em;
}
.label {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.dropdown {
    width: 10em;
}
.dropdown-row {
    padding-top: 1em;
    justify-content: space-around;
}
