.card-container,
.card-col {
  padding: 1em;
}
.card-img {
  position: relative;
  height: 400px;
  object-fit: cover;
}
.card {
  height: 100%; 
  width: 100%;
}
.button-parent {
  display: flex; 
  justify-content: flex-end; // keeps delete button to the right 
}
.delete-button {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  padding: 0px;
  z-index: 1;
  position: absolute;
}
.bold {
  font-weight: bold;
}
.view-plant-button {
  width: 100%;
}

