$main-text: "Poppins", sans-serif;
$required-color: #ff4d4d;
.label {
  font-family: $main-text;
  font-weight: bold;
  margin-top: 2vh;
}
.required {
  color: $required-color;
  font-family: Roboto;
}

.new-plant-container {
  background-color: #f8f9fa;
  padding: 2em;
}
.new-plant-title-row {
  justify-content: center;
  margin-bottom: 2em;
  .new-plant-title {
    @extend .label;
    font-size: 1.7em;
    padding: 0.5em 0.7em;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.select-row {
  justify-content: space-evenly;
  .form-label {
    margin-top: 1em;
  }
  select.form-control {
    width: 200px;
  }
}

.submit-row {
  justify-content: center;
  margin-top: 2em;
  .submit-button {
    font-size: 1.3em;
    border-radius: 0px;
  }
}

@media (min-width: 576px) {
  .new-plant-container {
    margin-top: 3em;
  }
  .new-plant-title-row {
    margin-bottom: 3em;
  }
}
@media (min-width: 768px) {
  .submit-row {
    justify-content: flex-end;
  }
}


